<body>
  <div class="wrapper">
   <div class="text_area">
     <h5>「ってよ」は、<br>
      小劇場とお客様を結ぶチケット予約サイトです。</h5>
    <div class="btn btn-outline-dark">
      <h3>TTEYO MENU</h3>
      <h3><新規登録></h3>
      <div class="btn btn-outline-secondary">
      <h3><%= link_to 'SIGN UP', new_user_registration_path %></h3>
      </div>
      <h3><露愚印></h3>
      <div class="btn btn-outline-secondary">
      <h3><%= link_to 'LOG IN', new_user_session_path %></h3>
      </div>
      <h3><とりあえず見る></h3>
      <div class="btn btn-outline-secondary">
      <h3><%= link_to 'See without logging in', events_path %></h3>
    </div>
   </div>
    </div>
  <div>
</body>
