
footer {
  width: 100%;
  background-color:#e8e9eb;
  padding: 20px 0 10px 0;
  color: #c8c9cc;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

footer p {
  text-align: center;
}
