// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  text-align: center;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  background-image:url("/images/bg10.JPG");
  width: 100%;
}

.btn {
  border: none;
  width: 100%;
}

footer {
  width: 100%;
  background-color:#e8e9eb;
  padding: 20px 0 10px 0;
  color: #c8c9cc;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  flex: 1;
}

footer p {
  text-align: center;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.heading {
  width: 100%;
  background-image:url("/images/bg9.JPG");
  padding-bottom: 5em;

}
header {
  background-image: url("/images/bg3.JPG");
}

header a {
  font-weight: bold;
}

header a:hover {
  background-color: #DDDDDD	;
  
}

footer {
  background-image: url("/images/bg3.JPG");
}

h1 {
  text-align: center;
  font-size: 50px;
}


h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-bottom: 240px;
  font-size: 50px;
  margin-bottom: 0;
  color: #FFFAFA	;
}

h3 a:hover {
  background-color: #c8c9cc;
}

h5 {
  text-align: center;
  padding: 7em;
  font-family: 'Noto Serif JP', serif;
}
div .btn h3 {
  text-align: center;
}

.logo {
  text-align: center;
  width: 100%;
  position: relative;
}

h3 a {
  color: azure;
}

h3 a:hover {
  text-decoration: none;
}

.topimage {
  text-align: center;
  // display: inline-block;
}



.txt_ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

// .topimage:hover {
//   background-color: #DDDDDD;
// }

#topimage {
  height: 200px;
}

img:hover {
  background-color: #DDDDDD;
}
